__pycache__/
*.pyc
backend/uploads/
backend/venv/
*.py[cod]
.pytest_cache/
.venv/
env/
venv/
.env

data/*
!data/.gitkeep
uploads/*
!uploads/.gitkeep


test.mp3
myenv/

*.db
*.sqlite
*.sqlite3
myenv

# Test media files
*.mp3
*.mp4
*.wav
*.m4a